*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: "open sans";
}
.contenedor{
    padding: 60px 0; 
    width:90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;


}
.titulo{

    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom:60px ;


}
/* estilo para el Header*/
header{
    width: 100%;
    height: 600px;
    background: #2980B9;  /* fallback for old browsers */
    background: linear-gradient(to right, #FFFFFF, hsla(196, 93%, 70%, 0.707), hsla(204, 64%, 44%, 0.624)), url(../img/cms.jpg); 
    background: linear-gradient(to right, #FFFFFF, hsla(196, 93%, 70%, 0.707), hsla(204, 64%, 44%, 0.624)), url(../img/cms.jpg); 
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;


}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{
   text-decoration: underline;

}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header h1{
    font-size: 50px;
    color: #fff;

}
.textos-header h2{
    font-size:30px;
    font-weight: 300;
    color: #fff;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;


}
.contenedor-sobre-nosotros{
    display:flex ;
    justify-content: space-evenly;

}
/*Estilo para fotos*/

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-texto{
    width: 48%;
}

.contenido-texto h3{
    margin-bottom: 15px;
}

.contenido-texto h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height:30px ;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-texto p{
    padding: 0px 0px 30px 15px;
    font-weight:300;
    text-align: justify;


}
.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow:0 0 6px 0 rgba(0, 0, 0, .5);


}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;


}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hover-galeria img{
    width: 50px;


}
.hover-galeria p{
    color: #fff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(0);
}
/*estilo para cliente*/

.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);




}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
/*estilo para la parte de nuestro equipo*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;


}
.servicio-ind{
    width: 20%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;

}
.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
/*estilo para el final de la pagina*/
footer{
    background: #414141;
    padding:60px 0 30px 0 ;
    margin: auto;
    overflow: hidden;


}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.content-foo{
    text-align: center;

}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}
.content-foo p{
    color: #ccc;
    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
@media screen and (max-width: 900p ){ 
    header{background-position: center;}
    .contenedor-sobre-nosotros{flex-direction: column; justify-content: center;
    align-items: center;}
    .sobre-nosotros .contenido-texto{width: 90%;}
    .imagen-about-us{width: 90%;}

    .imagen-port{width: 44%;}
    .cards{flex-direction: column;
    justify-content: center; align-items: center;}
        .cards .card{width: 90%;}
        .cards .card:first-child{margin-bottom: 30px;}
        .servicio-cont{justify-content: center;flex-direction: column;}
        .servicio-ind{width: 100%;text-align: center;}
        .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){margin-bottom: 60px;}
        .servicio-ind img{width: 90%;}
}
